    <!DOCTYPE html>
    <html>
      <head>
        <script src='https://8x8.vc/external_api.js' async></script>
      <!-- <style>html, body, #jaas-container { height: 500%; }</style> -->
        <script type="text/javascript">
          window.onload = () => {
            const api = new JitsiMeetExternalAPI("8x8.vc", {
              roomName: "vpaas-magic-cookie-80682df69fcb4ebd9441c22c8bb21d19/SampleAppFreeFrogsCycleSomewhat"
            });
          }
        </script>
      </head>
      <body> </body>
    </html>
  
